:root {
  // Custom variable values only support SassScript inside `#{}`.
  @each $color, $value in $grays {
    --cl-gray-#{$color}: #{$value};
  }
  
  @each $color, $value in $colors {
    --cl-#{$color}: #{$value};
  }

  @each $color, $value in $theme-colors {
    --cl-#{$color}: #{$value};
  }

  // variables theme custom - *Not Bootstrap
  @each $fz, $value in $font-sizes {
    --fz-#{$fz}: #{$value};
  }

  @each $sp, $value in $spaces {
    --sp-#{$sp}: #{$value};
  }
  // variables theme custom - *Not Bootstrap

  @each $bp, $value in $grid-breakpoints {
    --breakpoint-#{$bp}: #{$value};
  }

  // Use `inspect` for lists so that quoted items keep the quotes.
  // See https://github.com/sass/sass/issues/2383#issuecomment-336349172
  --font-family-sans-serif: #{inspect($font-family-sans-serif)};
  --font-family-monospace: #{inspect($font-family-monospace)};
}
