//*----------------------------------*\
//  #TOOLS - SIZE
//\*----------------------------------*/

/// Size - Set propertys width and height
/// @author Hugo Giraudel
/// @group Tools
/// @param {Number} $width - Property width css
/// @param {Number} $height [$width] - Default value width, but it's possible use diferent height
/// @example scss - basic usage
///   .square {
///     @include square(50px);
///   }
/// @output Output from the example
///   .square {
///     width: 50px;
///     height: 50px;
///   }

@mixin square($width, $height: $width) {
  width: $width;
  height: $height;
}
