//*----------------------------------*\
//  #TOOLS - CENTERER
//\*----------------------------------*/

/// Centerer - Position elements centered in directions especific or all
/// @author CSS-Tricks
/// @link https://css-tricks.com/snippets/sass/centering-mixin/ In the comments have a optimization this mixin
/// @group Tools
/// @param {String} $pos [both] - Default functions is centered in all directions, but is possible choice side
/// @example scss - basic usage
///   .centered {
///     @include centerer();
///   }
/// @output Output from the example
///   .centered {
///     position: absolute;
///     top: 50%;
///     left: 50%;
///     transform: translate(-50%, -50%);
///   }

@mixin centerer($pos:both) {
  position: absolute;

  @if ($pos==both) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  } @else if ($pos==top) {
    left: 50%;
    transform: translate(-50%, 0);

  } @else if ($pos==left) {
    top: 50%;
    transform: translate(0, -50%);

  } @else if ($pos==right) {
    top: 50%;
    right:0;
    transform: translate(0, -50%);

  } @else if ($pos==bottom) {
    bottom: 0;
    left:50%;
    transform: translate(-50%, 0);
  }
}
