
// Helpers
$i:           !important;
$t:           transparent;
$n:           none;
$in:          initial;
$ih:          inherit;
$cc:          currentColor;
$imgPath:     '/assets/images';

$font-sizes: (
  // u = ultra
  uul:   4.5rem,   // 72px
  ul:    4rem,     // 64px
  // h = hiper
  hhhl:  3rem,     // 48px
  hhl:   2.75rem,  // 44px
  hl:    2.25rem,  // 36px
  // x = extra
  xxl:   2rem,     // 32px
  xl:    1.75rem,  // 28px
  l:     1.5rem,   // 24px

  xxm:   1.25rem,  // 20px
  xm:    1.125rem, // 18px
  m:     1rem,

  // x = extra
  s:     0.875rem, // 14px
  xs:    0.705rem, // 12px
  xxs:   0.625rem, // 10px
);

// spaces
$spaces: (
  quarter:   0.25rem,  // 4px
  six:       0.375rem, // 6px
  half:      0.5rem,   // 8px
  twelve:    0.75rem,  // 12px
  unit:      1rem,     // 16px
  unit-half: 1.5rem,   // 24px
  double:    2rem,     // 32px
  fourty:    2.5rem,   // 40px
  triple:    3rem,     // 48px
  quad:      4rem,     // 64px
  eighty:    5rem,     // 80px
);

// use in include-media
$breakpoints: (
  xsmall: 480px,
  small: 768px,
  medium: 992px,
  mindesktop: 1024px,
  large: 1200px, 
  xlarge: 1440px
);

// Gradient colors
// $grad-blue: linear-gradient(90deg, #0f82e6 0%, #0e6ec1 47.36%);


//
// Bootstrap overwrites
// Replace styles 
// 

// disable warning Deprecate mixin 
$enable-deprecation-messages: false;

// Color system

$gray-100: #f9f9fa;
$gray-200: #eeeef1;
$gray-300: #d7d7db;
$gray-400: #b2b2b3;
$gray-500: #737373;
$gray-600: #4a4a4f;
$gray-700: #38383d;
$gray-800: #29292e;
$gray-900: #0c0c0d;

$black:    #1C1C21;

$primary:       #0e456a;
$primary-dark:  #32393f;
$secondary:     #13b583;
$success:       #13bd00;
$info:          #0a85ff;
$warning:       #d66f00;
$danger:        #d60020;
$gray-default:  #434b51;
$light:         #ebebeb;
$dark:          #0e2f45;

$theme-colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":      $primary,
    "primary-dark": $primary-dark,
    "secondary":    $secondary,
    "success":      $success,
    "info":         $info,
    "warning":      $warning,
    "danger":       $danger,
    "gray-default": $gray-default,
    "light":        $light,
    "dark":         $dark
  ),
  $theme-colors
);

// Body
//
// Settings for the `<body>` element.

// $body-bg:    #fff;
$body-color:    $gray-default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:             $dark;
$yiq-text-light:            $light;

// Typography

$montserrat: 'Montserrat', Tahoma, 'DejaVu Sans', sans-serif;
$font-family-base: $montserrat;

$font-size-base: 1rem; // Assumes the browser default, typically `16px`

$font-weight-bolder: 700;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1300px
);

$input-height: 45px;
$input-border-color: $gray-300;

$pagination-border-color: rgba(0,0,0, .07);
$pagination-hover-bg: $gray-100;

$badge-font-size: 12px;
$badge-font-weight: 600;
$badge-padding-y: 6px;
$badge-padding-x: 8px;