/*------------------------------------*\
  Base................ Fonts
\*------------------------------------*/

@font-face {
    font-family: 'ubuntubold';
    src: url('./assets/fonts/ubuntu-bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/ubuntu-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntubold_italic';
    src: url('./assets/fonts/ubuntu-bolditalic-webfont.woff2') format('woff2'),
         url('./assets/fonts/ubuntu-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntuitalic';
    src: url('./assets/fonts/ubuntu-italic-webfont.woff2') format('woff2'),
         url('./assets/fonts/ubuntu-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu_lightregular';
    src: url('./assets/fonts/ubuntu-light-webfont.woff2') format('woff2'),
         url('./assets/fonts/ubuntu-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu_lightitalic';
    src: url('./assets/fonts/ubuntu-lightitalic-webfont.woff2') format('woff2'),
         url('./assets/fonts/ubuntu-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu_mediumregular';
    src: url('./assets/fonts/ubuntu-medium-webfont.woff2') format('woff2'),
         url('./assets/fonts/ubuntu-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu_mediumitalic';
    src: url('./assets/fonts/ubuntu-mediumitalic-webfont.woff2') format('woff2'),
         url('./assets/fonts/ubuntu-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubunturegular';
    src: url('./assets/fonts/ubuntu-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/ubuntu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
