/*------------------------------------*\
  Base................... Reset
\*------------------------------------*/

svg { fill: currentColor; }

// body { overflow-x: hidden; }

// @include media-breakpoint-down(lg) {
  
//   .container { max-width: 100%; }
// }